.card_container{
    margin-top: 3rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 5rem;
    width: 29rem;
    background-color: var(--color-grey-1);
    border-radius: 6px;
    padding-left: 2rem;
    padding-right: 2rem;  
}

.card_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_title h3{
    font-weight: 700;
    font-size: 16px;
    color: var(--color-grey-4);
}

.card_title div{
    font-weight: 400;
    font-size: 12px;
    color: var(--color-grey-4);
}

.transaction_type{
    color: var(--color-grey-3);
    font-weight: 400;
    font-size: 12px;
}